.rating-star_img_container {
  width: 5rem;
  height: 5rem;
  padding: 1.563rem;
  border-radius: 50%;
  margin-bottom: 25px;
  background-color: #262f38;
}

.rating-star_img_container img {
  width: 100%;
  height: 100%;
}

.rating-header-text {
  border: 1px solid;
}

.rating-text {
  border: 1px solid;
}

.rating-number_container {
  border: 1px solid;
  display: inline-flex;
  list-style-type: none;
}

.rating-number_container li {
  border: 1px solid;
}
