/* General container */
.card-container {
  width: 50rem;
  height: 37.5rem;
  padding: 20px;
  border: 1px solid;
  background: linear-gradient(to bottom, #222733, #121417);
  border-radius: 1.25rem;
}
